*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background: url(img/background.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 150vh;
}

/*Cabeçalho*/

#cabecalho{
    position: relative;
    top: 50px;
    padding-left: 30px;
    color: #fff;
    font-size: 25px;
}

main{
    position: relative;
    top: 100px;
    left: 297px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.99);
    padding: 50px;
    padding-top: 15px;
    font-size: 20px;
}

main>header{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
    color: #673bb7;         
    border-bottom: 3px solid #ccc;
}

.titulo{
    position: relative;
}

.titulo::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #673bb7;
  }

/*Formulário*/

#textoSuperior{
    font-size: 30px;
    line-height: 40px;

    &#textoSuperior>h3{
        font-weight: lighter;
        margin-bottom: -20px;
        font-size: 25px;
    }
}

.subtitulo{
    font-size: 25px;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 5px;
}

input{
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    width: 550px;
    height: 30px;
}

input:hover{
    border-bottom: 2px solid;
}

section>form{
    width: 550px;
    overflow: hidden;
}

/*Valor do veículo*/

#price {
    display: inline;
    position: relative;
    left: 30px;
    bottom: 25px;
}


/*Descrição do veículo*/

#description{
    margin-top: 10px;
}

textarea{
    width: 545px;
    height: 100px;
    
}

/*Tipo de cambio*/

#cambio{
    display: flex;
    margin-top: 20px;
    margin-bottom: -20px;
    padding-left: 180px;
}

#cambio>div>label{
    margin-right: -280px;
    margin-left: -180px;
    width: 30px;
    
}

#cambio>div>input{
    margin: -20px;
    margin-left: 50px;
}

#automatico{
    position: relative;
    right: 10px;

}


/*Opcionais*/

#opcionais {
    width: 100%;
    margin: 0 auto;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 22px;
}

.coluna {
    width: 50%;
    margin-left: -60px;
    margin-top: 20px;
}

label{
    margin-left: -60px;
}

div>.coluna>.linha>label{
    margin-left: -40px;
}

#assistente_pista{
    margin-left: -280px;
}

#partida_keyless{
    margin-left: -280px;
}

#banco_couro{
    margin-left: -280px;
}

#integracao_celular{
    margin-left: -280px;
    text-wrap: nowrap;
}

.linha {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.linha>input[type="checkbox"] {
    margin-right: -200px;
    margin-left: -200px;
    margin-top: 15px;
    height: 20px;
}

#airbag, #alarme, #ar_condicionado, #camera_re, #assistente_pista, #partida_keyless, #integracao_celular, #banco_couro {
    vertical-align: middle;
    text-wrap: nowrap;
}


/*Enviar fotos do carro*/

#fotos{
    margin-bottom: 0;
}